h1 {
  color: red;
}

h2 {
  color: coral;
}

p1 {
  color: green;
}

p2 {
  color: blue;
}

p2 {
  color: orchid:
}

* {
  font-family: "papyrus", fantasy;
}


* {
  background-color: MistyRose;
}

.center {
  text-align: center;
  border: 3px cadet blue
}
